<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Boruta · Phoenix Framework</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <script>
      window.env = {
        VUE_APP_ADMIN_CLIENT_ID: '<%= System.get_env("VUE_APP_ADMIN_CLIENT_ID", "6a2f41a3-c54c-fce8-32d2-0324e1c32e20") %>',
        VUE_APP_BORUTA_BASE_URL: '<%= System.get_env("VUE_APP_BORUTA_BASE_URL", "http://localhost:4001") %>',
        VUE_APP_BORUTA_BASE_SOCKET_URL: '<%= System.get_env("VUE_APP_BORUTA_BASE_SOCKET_URL", "http://localhost:4001") %>'
      }
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but boruta-admin doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/admin/app.js") %>"></script></body>
</html>
