<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Boruta · Phoenix Framework</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
  </head>
  <body>
    <header>
      <%= if get_flash(@conn, :info) do %><p class="ui success center aligned large message segment" role="alert"><%= get_flash(@conn, :info) %></p><% end %>
      <%= if get_flash(@conn, :error) do %><p class="ui error large center aligned message segment" role="alert"><%= get_flash(@conn, :error) %></p><% end %>
    </header>
    <main class="main" style="padding: 20px 0;height: 100%;">
      <div class="ui container">
        <h1>Boruta live example</h1>
        <p>This is a running example of an OAuth provider implemented with Boruta. Please note that this is a work in progress.</p>
        <p>This server is intended to follow :
        <ul>
          <li><a href="https://tools.ietf.org/html/rfc6749">RFC 6749 - The OAuth 2.0 Authorization Framework</a></li>
          <li><a href="https://tools.ietf.org/html/rfc7662">RFC 7662 - OAuth 2.0 Token Introspection</a></li>
          <li><a href="https://tools.ietf.org/html/rfc7009">RFC 7009 - OAuth 2.0 Token Revocation</a></li>
          <li><a href="https://tools.ietf.org/html/rfc7636">RFC 7636 - Proof Key for Code Exchange by OAuth Public Clients</a></li>
        </ul>
        </p>
        <p>The core of this project is open source, the code is available <a href="https://gitlab.com/patatoid/boruta_auth">here</a>

        <hr />
        <div class="ui message">
          <div class="header">This server implements the following routes</div>
          <ul class="list">
            <li>POST /oauth/token</li>
            <li>GET /oauth/authorize</li>
            <li>POST /oauth/introspect</li>
            <li>POST /oauth/revoke</li>
          </ul>
        </div>
        <hr />
        <div class="ui message">
          <div class="header">Example client</div>
          <ul class="list">
            <li><strong>client_id :</strong> 6a2f41a3-c54c-fce8-32d2-0324e1c32e20</li>
            <li><strong>client_secret :</strong> 777</li>
            <li><strong>redirect_uri :</strong> http://redirect.uri</li>
          </ul>
        </div>
        <hr />
        <div class="ui message">
          <div class="header">A cURL example</div>
          <pre style="overflow-y: scroll;">
curl -X POST \
  http://oauth.boruta.patatoid.fr/oauth/token \
  -H 'Content-Type: application/x-www-form-urlencoded' \
  -d 'client_id=6a2f41a3-c54c-fce8-32d2-0324e1c32e20&client_secret=777&grant_type=client_credentials'
          </pre>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/accounts/app.js") %>"></script>
  </body>
</html>
