stages:
  - test
  - deploy
  - test

services:
  - postgres:latest

.elixir-task:
  image: elixir:1.10.3-alpine
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - _build/
  before_script:
  - apk --update add postgresql-client git make g++
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get

dialyzer:
  stage: test
  extends: .elixir-task
  script:
  - mix dialyzer

credo:
  stage: test
  extends: .elixir-task
  script:
  - mix credo --strict

test:
  stage: test
  extends: .elixir-task
  script:
  - mix test --trace
  variables:
    POSTGRES_DATABASE: boruta_test
    POSTGRES_HOST: postgres
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    MIX_ENV: test

deploy:
  stage: deploy
  script:
  - gem install dpl
  - dpl --provider=heroku --app=boruta --api-key=$HEROKU_API_KEY
  only:
  - master
