<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Boruta · Authorization server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
    <style>
    .credits {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      display: flex;
    }

    .credits img {
      height: 1.5em;
      margin-left: .5em;
    }
    </style>
  </head>
  <body style="height: 100%;">
    <div class="ui placeholder segment" style="height: 100%;">
      <div class="ui error message" style="position: absolute; top: 1em; right: 1em; left: 1em; text-align: center">
        {{ reason.message }}
      </div>
      <h1 class="ui icon header">
        <i class="redo alternate icon"></i>
        <div class="content">
          Request could not be processed
          <div class="sub header">The given request could not be processed. Please retry with valid parameters.</div>
        </div>
      </h1>
    </div>
    <div class="credits">
      Powered by <img src="{{ boruta_logo_path }}" />
    </div>
  </body>
</html>
