<p>Hi {{ user.username }},</p>

<p>You can confirm your account by visiting the link below:</p>

<p><a href="{{ url }}">Confirm your account</a></p>

<hr />

<p>If you didn't create an account with us, please ignore this.</p>
