<p>Hi,</p>

<p>You have been invited to join the organization {{ organization.label }} on {{ issuer }}. Follow the below link to accept invitation:</p>

<p><a href="{{ url }}">Accept invitation</a></p>

<hr />

<p>If you are not aware of such an invitation, please ignore this.</p>

