<p>Hi {{ user.username }},</p>

<p>You can reset your password by visiting the link below:</p>

<p><a href="{{ url }}">Reset your password</a></p>

<hr />

<p>If you didn't request this change, please ignore this.</p>
