
==============================

Hi {{ user.username }},

You can reset your password by visiting the URL below:

{{ url }}

If you didn't request this change, please ignore this.

==============================
