
==============================

Hi {{ user.username }},

Here is your transaction code to fill in in order to obtain your verifiable credential:

{{ tx_code }}

If you didn't requested a verifiable credential, please ignore this.

==============================

