<p>Hi {{ user.username }},</p>

<p>Here is your transaction code to fill in in order to obtain your verifiable credential:</p>

<p><strong>{{ tx_code }}</strong></p>

<hr />

<p>If you didn't requested a verifiable credential, please ignore this.</p>

