<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <title>Boruta · Identity provider</title>
    <style>
    html, body {
      height: 100%;
      margin: 0;
    }

    .wrapper {
      height: 100%;
      display: flex;
    }

    .main.messages {
      position: absolute;
      top: 1rem;
      left: 1rem;
      right: 1rem;
    }

    header {
      height: 100%;
      width: 50%;
      background-image: url('https://picsum.photos/1920/1080?grayscale');
      background-size: cover;
      background-position: center;
    }

    main {
      flex: 1;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }

    main>.content {
      flex: 1;
      max-width: 500px;
      padding-bottom: 3.5rem;
    }

    .credits {
      position: absolute;
      font-size: .8em;
      bottom: .5rem;
      right: 1rem;
      display: flex;
    }

    .credits img {
      height: 1.5em;
      margin-left: .5em;
    }

    @media (max-width: 768px) {
      header {
        display: none;
      }
      html, body {
        height: auto;
      }
    }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header></header>
      <main role="main" class="container">
        <div class="content">
          <div class="main messages">
            {{#messages}}
            <div class="ui {{ type }} message">
              {{ content }}
            </div>
            {{/messages}}
          </div>
          {{> inner_content }}
        </div>
        <div class="credits">
          Powered by <img src="{{ boruta_logo_path }}" />
        </div>
      </main>
    </div>
  </body>
</html>
