<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Boruta · Credential offer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/themes/prism-dark.min.css" integrity="sha512-Njdz7T/p6Ud1FiTMqH87bzDxaZBsVNebOWmacBjMdgWyeIhUSFU4V52oGwo3sT+ud+lyIE98sS291/zxBfozKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    .credits {
      position: absolute;
      font-size: .8em;
      bottom: .5rem;
      right: 1rem;
      display: flex;
    }

    .credits img {
      height: 1.5em;
      margin-left: .5em;
    }
    </style>
  </head>
  <body>

    <div class="ui container">
      <div class="ui center aligned segment">
        <h1>Sample credential offer</h1>
        <img width="350" src="data:image/svg+xml; base64, <%= qr_code_from_credential_offer(@credential_offer_response) %>" alt="QR code" />
        <p><%= text_from_credential_offer(@credential_offer_response) %></p>
      </div>
    </div>
    <div class="credits">
      Powered by <img src="/accounts/images/logo-yellow.png">
    </div>
  </body>
</html>

