<h1>Credential offer</h1>

{{^valid?}}
<div class="ui error message">
{{#errors}}
  <li>{{ message }}</li>
{{/errors}}
</div>
{{/valid?}}

<div class="ui info message">
  From a Proof of Concept created in partnership with Talao
</div>

<h2>Scan the QR code with your Altme wallet</h2>
<hr />
<div class="ui center aligned segment">
  <img width="350" src="data:image/svg+xml; base64, {{ base64_credential_offer_qr_code }}" alt="QR code" />
</div>

