<a href="{{ choose_session_path }}">Back</a>
<h1>Edit user</h1>

{{^valid?}}
<div class="ui error message">
{{#errors}}
  <li>{{ message }}</li>
{{/errors}}
</div>
{{/valid?}}

{{#current_user.totp_registered_at}}
<div class="ui big right aligned segment">
  TOTP registered at {{ . }}
</div>
<a href="{{ new_user_totp_registration_path }}" class="ui fluid blue button" type="submit">Replace TOTP authenticator</a>
<hr />
{{/current_user.totp_registered_at}}
{{^current_user.totp_registered_at}}
<a href="{{ new_user_totp_registration_path }}" class="ui fluid blue button" type="submit">Register a TOTP authenticator</a>
<hr />
{{/current_user.totp_registered_at}}

<form class="ui form" action="{{ update_user_path }}" method="POST">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_csrf_token" value="{{ _csrf_token }}" />

  <div class="field">
    <label for="user_email">Email</label>
    <input type="email" id="user_email" name="user[email]" value="{{ current_user.username }}" />
  </div>

  <div class="field">
    <label for="current_user_password">Current password</label>
    <input type="password" id="current_user_password" name="user[current_password]" />
  </div>

  <div class="field">
    <label for="new_user_password">New password</label>
    <input type="password" id="new_user_password" name="user[password]" placeholder="leave blank to keep current password" />
  </div>

  <button class="ui fluid button" type="submit">update</button>
</form>
