<h1>Credential presentation</h1>

{{^valid?}}
<div class="ui error message">
{{#errors}}
  <li>{{ message }}</li>
{{/errors}}
</div>
{{/valid?}}

<h2>Scan the QR code with your identity wallet</h2>
<hr />
<div class="ui center aligned qr-code segment">
  <img width="350" src="data:image/svg+xml; base64, {{ base64_presentation_qr_code }}" alt="QR code" />
</div>
<div class="ui center aligned deeplink segment">
  <a class="ui blue fluid button" href="{{ presentation_deeplink }}">Present your credentials</a>
</div>
<hr />
<a href="#" onclick="window.location.reload()" class="ui fluid button">Reload</a>
